<a href="https://colab.research.google.com/github/pacomm5/COVID-19/blob/master/Regresi%C3%B3n_Master.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from google.colab import files # Para manejar los archivos y, por ejemplo, exportar a su navegador
import glob # Para manejar los archivos y, por ejemplo, exportar a su navegador
from google.colab import drive # Montar tu Google drive
import sklearn
from sklearn.impute import SimpleImputer
import numpy as np # este para matemáticas. 
import matplotlib.pyplot as plt # este para gráficos
import pandas as pd # perfecta carga, manipular.... datos.

In [63]:
df1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TRABAJO MASTER/df_est_total.csv", sep="|", encoding="ISO-8859-1")

In [64]:
df1.head()

,Fecha,id_cl,anno,mes,importe1,importe2,facturacion_ant,capital,gastos_personal,impuesto_sociedades,...,imp_7m,imp_8m,imp_9m,imp_10m,imp_11m,imp_12m,slope,intercept,trend,estacional
0,2017-01-01,2113,2017,1,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,si
1,2017-02-01,2113,2017,2,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,si
2,2017-03-01,2113,2017,3,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,si
3,2017-04-01,2113,2017,4,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,si
4,2017-05-01,2113,2017,5,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,si

In [65]:
df1.columns

Index(['Fecha', 'id_cl', 'anno', 'mes', 'importe1', 'importe2',
       'facturacion_ant', 'capital', 'gastos_personal', 'impuesto_sociedades',
       'cod_sector', 'des_sector', 'provincia', 'rama_actividad',
       'desc_actividad', 'PIB', 'cotiz_empleadores', 'imp2_tot_cl',
       'peso_imp2', 'imp_2m', 'imp_3m', 'imp_4m', 'imp_5m', 'imp_6m', 'imp_7m',
       'imp_8m', 'imp_9m', 'imp_10m', 'imp_11m', 'imp_12m', 'slope',
       'intercept', 'trend', 'estacional'],
      dtype='object')

In [66]:
df2 = df1[["Fecha", "id_cl", "capital", "PIB", "cotiz_empleadores", "desc_actividad", "peso_imp2"]]
df2.tail(5)

,Fecha,id_cl,capital,PIB,cotiz_empleadores,desc_actividad,peso_imp2
1226299,2019-08-01,175475,0.0,70715000.0,8.052,ConstrucciÃ³n,0.027833
1226300,2019-09-01,175475,0.0,70715000.0,8.052,ConstrucciÃ³n,0.027833
1226301,2019-10-01,175475,0.0,70715000.0,8.052,ConstrucciÃ³n,0.027833
1226302,2019-11-01,175475,0.0,70715000.0,8.052,ConstrucciÃ³n,0.027833
1226303,2019-12-01,175475,0.0,70715000.0,8.052,ConstrucciÃ³n,0.025845

In [67]:
df2.dtypes

Fecha                 object
id_cl                  int64
capital              float64
PIB                  float64
cotiz_empleadores    float64
desc_actividad        object
peso_imp2            float64
dtype: object

In [68]:
df2['id_cl']=df2['id_cl'].apply(str)
df2.Fecha = pd.to_datetime(df2.Fecha, dayfirst=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [69]:
df2.dtypes

Fecha                datetime64[ns]
id_cl                        object
capital                     float64
PIB                         float64
cotiz_empleadores           float64
desc_actividad               object
peso_imp2                   float64
dtype: object

In [70]:
df2.describe()

            capital           PIB  cotiz_empleadores     peso_imp2
count  1.226304e+06  1.226304e+06       1.226304e+06  1.226304e+06
mean   1.799801e+06  6.559439e+07       2.905921e+01  2.777778e-02
std    8.930602e+07  6.760153e+07       1.365281e+02  1.607713e-02
min   -4.525817e+08  0.000000e+00       0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00       0.000000e+00  2.021033e-02
50%    0.000000e+00  5.302000e+07       0.000000e+00  2.769743e-02
75%    5.500000e+04  1.317200e+08       5.267000e+00  3.405260e-02
max    1.499469e+10  2.045890e+08       9.000000e+02  9.339775e-01

In [71]:
df2.isnull().sum()

Fecha                0
id_cl                0
capital              0
PIB                  0
cotiz_empleadores    0
desc_actividad       0
peso_imp2            0
dtype: int64

In [72]:
df2.head()

       Fecha id_cl  capital  PIB  cotiz_empleadores desc_actividad  peso_imp2
0 2017-01-01  2113      0.0  0.0                0.0              0        0.0
1 2017-02-01  2113      0.0  0.0                0.0              0        0.0
2 2017-03-01  2113      0.0  0.0                0.0              0        0.0
3 2017-04-01  2113      0.0  0.0                0.0              0        0.0
4 2017-05-01  2113      0.0  0.0                0.0              0        0.0

In [86]:
df3 = df2[(df2.PIB >0) & (df2.cotiz_empleadores>0)]

In [87]:
df3.head()

,Fecha,id_cl,capital,PIB,cotiz_empleadores,desc_actividad,peso_imp2
180,2017-01-01,2370,-38314.0,40383000.0,5.248,Actividades financieras y de seguros,0.027254
181,2017-02-01,2370,-38314.0,40383000.0,5.248,Actividades financieras y de seguros,0.018868
182,2017-03-01,2370,-38314.0,40383000.0,5.248,Actividades financieras y de seguros,0.015723
183,2017-04-01,2370,-38314.0,40383000.0,5.248,Actividades financieras y de seguros,0.027254
184,2017-05-01,2370,-38314.0,40383000.0,5.248,Actividades financieras y de seguros,0.020964